.editor-title {
  display: block;
  width: 100%;
  background: #263238;
  color: #cbd1e1;
  text-align: center;
  border: 1px solid #455055;
  border-left-width: 0;
  border-right-width: 0;
  padding: 5px 0;
}