.list {
  list-style: none;
  margin: 0;
  padding: 0;

  .color-item {
    display: inline-block;
    align-items: center;
    margin: 10px 10px 0 0;
    cursor: pointer;

    span {
      display: flex;
      color: white;
      align-items: center;

      &:hover {
        background-color: #525557!important;
      }

      .color-circle {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid #949494;
      }
    }
  }
}