.navbar {
  background-color: #202c34!important;

  .logo {
    height: 30px;
    margin-right: 10px;
  }

  .avatar {
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    object-fit: cover;
    padding: 5px;
    margin-left: 10px;
  }

  .user-name {
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
}