.status {
  .info {
    padding: 15px;
    p {
      font-weight: 800;
      font-size: 12px;
      color: white;
      
      span {
        font-size: 18px;
        font-weight: 600;
        color: rgb(233, 245, 190);
      }
    }
  }
}